credentials.json
*.geojson


sample-data/new_orleans_311.csv

.Rproj.user
.Rhistory
scripts/lambda/equity_calculations.py*.tmp
*.swp

.RData
.Rhistory


.DS_Store
.vscode/settings.json
.vscode/*

reference-data/2019/*/*/*.geojson
reference-data/2019/*/*/*.csv
.env
speed-test-data/*.csv
edge-test-data/*
